table {
    border-collapse: collapse;
}
table td {
    padding: 0px
}
.pos-abs{
    position:absolute;
}
#img-top{
    top:0.00in;
    left:0.00in;
    width:12.82in;
    height:9.26in
}
.font-d{
    font-style:normal;
    font-weight:normal;
    font-family:Helvetica;
    color:#010101;
    font-family: 'Georgia';
}
.font-size-12{
    font-size:12pt;
}
.font-size-24{
    font-size:24pt;
}
.font-size-14{
    font-size:14pt;
}
.font-size-16{
    font-size:16pt;
}
